<mat-toolbar color="primary">

    <span> UiHospital Solutions</span>
    <span class="spacer"></span>

    <a [routerLink]="['../checkout']" style="color:white"><mat-icon >shopping_cart</mat-icon> </a>

    <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
    

</mat-toolbar>


<div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="0" style="margin:20px;;">
    <div fxLayout="column" fxFlex="10%" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <mat-card>
            <app-menu></app-menu>
        </mat-card>
    </div>
    <div fxLayout="column" fxFlex="85%" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>